.footer{
    margin-top:0px;
    width:100%;  
    background-color:black;
    height:20vh;
    color:white;
    font-size:20px;
    font-weight:200;
    padding-top:10px;
    display:block;
    align-items:center;
    
}
.footer .icons{
    justify-content: space-between;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}